<div class="container">
  <div class="row" >
    <h3 class="alert alert-info ">
      Welcome {{user.fullName}}, click <a [routerLink]="['/edit-infos']" ><b>here</b></a> to edit your infos.
    </h3>

  </div>
  <table class="table table-striped">

    <tbody>
    <tr>
      <th scope="row">Id</th>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <th scope="row">Full name</th>
      <td>{{user.fullName}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th scope="row">Sex</th>
      <td>{{user.sex}}</td>
    </tr>
      <tr>
      <th scope="row">Cin number</th>
      <td>{{user.cin}}</td>
    </tr>
    <tr>
      <th scope="row">Age</th>
      <td>{{user.age}}</td>
    </tr>
     <tr>
      <th scope="row">Governorate</th>
      <td>{{user.governorate}}</td>
    </tr>
    <tr>
      <th scope="row">Previous or current diseases</th>
      <td>{{user.previousDiseases}}</td>
    </tr>
    <tr>
      <th scope="row">Got vaccinated</th>
      <td *ngIf="user.vaccinDetails.vaccinated">
        YES, you got your vaccine on {{user.vaccinDetails.dateOfVaccination|date}}
      </td>
      <td *ngIf="!user.vaccinDetails.vaccinated">
        You did not got your vaccine, Please visit the nearest vaccine center
      </td>
    </tr>
    <tr *ngIf="user.vaccinDetails.vaccinated">
      <th scope="row">Vaccine name</th>
      <td >
        {{user.vaccinDetails.vaccinName}}
      </td>

    </tr>

    </tbody>
  </table>

</div>
