<section class="vh-200" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Get the vaccine now!</p>

                <form #formulaire="ngForm" (ngSubmit)="submitForm(formulaire)" class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        required
                        minlength="3"
                        maxlength="50"
                        ngModel
                        name="fullName"
                        type="text" id="form3Example1c" placeholder="Your Full Name" class="form-control"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        ngModel
                        name="email"
                        required
                        minlength="3"
                        maxlength="50"
                        email
                        placeholder="Your Email"
                        type="email" id="form3Example3c" class="form-control"/>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-fingerprint  fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        ngModel
                        name="cin"
                        minlength="8"
                        maxlength="8"
                        placeholder="Your CIN number"
                        type="text" id="form3Example3c" class="form-control"/>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i *ngIf="maleSelected" class="fas fa-male fa-lg me-3 fa-fw"></i>
                    <i *ngIf="femaleSelected" class="fas fa-female fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <select ngModel name="sex" required #select (change)="printSex(select)" name="sex"
                              class="custom-select">
                        <option value="1" disabled>Select your sex</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <select   ngModel name="governorate"
                              class="custom-select">
                        <option  value="1" disabled>Select your governorate</option>
                        <option  *ngFor="let el of governorates" value="{{el}}">{{el}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-sort-numeric-up fa-lg me-3 fa-fw "></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" id="form3Example3c"
                             ngModel
                             required
                             name="age"
                             placeholder="Age"
                             class="form-control"/>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-ambulance fa-lg me-3 fa-fw "></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example3c"
                             ngModel
                             maxlength="255"
                             name="previousDiseases"
                             placeholder="Please specify previous diseases"
                             class="form-control"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password"
                             required
                             ngModel
                             name="password"
                             minlength="4"
                             maxlength="26"
                             id="form3Example4c"
                             placeholder="Password"
                             class="form-control"/>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button [disabled]="formulaire.invalid" type="submit" class="btn btn-primary btn-lg">Register
                    </button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="assets/img/clip-vaccine.png" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
